@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Type;

<h2>Add a Restaurant Type!</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TypeName)
  @Html.TextBoxFor(model => model.TypeName)

  <input type="submit" value="Add Type">
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>